* {
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  flex: 0 0 25%;
  margin: 10px;
  background: greenyellow;
  height: 300px;
}

@media all and (max-width: 767px) {
  .flex-item {
    flex: 0 0 90%;
    margin: 5px;
    background: greenyellow;
    height: 300px;
  }
}